@font-face {
  font-family: "Open Sans";
  src: url(OpenSans-Light-webfont.ttf);
}
html {
  font-family: Helvetica, Arial, sans-serif;
}
body {
  background: #FFFFFF;
  color: #333;
  font-size: 0.8125rem;
  line-height: 1rem;
}
html,
body,
.page {
  margin: 0;
  min-width: 320px;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*.page {
  visibility: visible !important;
}*/
.content {
  margin: 0;
}

nav {
  background-color: #3C9DE5;
  width: 100%;
  height: 60px;
  position: relative;
  text-align: center;
  overflow: auto;
  margin-bottom: 0;
}
/*input[type=button] {
  background-color: #3C9DE5;
}*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  color: #000;
  margin: 0.5em 0;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.375rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1.125rem;
}
h5,
h6 {
  font-size: 0.875rem;
}

h1.title {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  font-weight: 300;
  display: inline-block;
  padding: 10px;
  margin-bottom: 0;
}

img.logo {
  width: 15%;
  position: absolute;
  left: 0;
  margin-bottom: 0;
}

.subtitle {
  background-color: #F2F2F2;
  height: 55px;
  margin-top: auto;
  padding-top: 5px;
  padding-left: 5px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.input-label {
  float: left;
  font-size: 0.7rem;
}

.document-name {
  background: transparent;
  border: none;
  line-height: 25px;
  font-size: 1.75em;
  color: #3C9DE5;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  float: left;
}

h2.subtitle-text {
  color: #3C9DE5;
  margin-top: 0;
}

a {
  color: #007aff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
p {
  margin-bottom: 0.75rem;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
hr {
  border: 0;
  height: 0;
  border-top: 1px solid #ccc;
  margin: 0;
}
blockquote {
  color: #666;
}
blockquote:before {
  content: '“';
}
blockquote:after {
  content: '”';
}
.textarea {
  background: transparent;
  border: 1px solid #ccc;
  border: none;
  min-height: 3em;
  position: relative;
  margin-right: 10px;
}
.textarea > textarea,
.textarea > pre {
  background: transparent;
  border: none;
  font: inherit;
  padding: 5px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.textarea > textarea {
  height: 100%;
  left: 0;
  position: absolute;
  resize: none;
  top: 0;
  width: 100%;
}
.textarea > pre {
  visibility: hidden;
}
.inlineMdEditor {
  cursor: pointer;
}
.sideBySideMdEditor {
  height: 30rem;
  overflow: hidden;
  padding: 5px 5px 15px 5px;
}
.sideBySideMdEditor > div {
  float: left;
  height: 100%;
  width: 48%;
}
.markdown {
  border: 0.5px solid #ccc;
  box-shadow: -10px 10px 10px #888888;
  overflow: auto;
}
